body{
    /* margin: 0; */
    /* padding: 0; */

    background-color: #EBF3E8;
    
}

#game-board{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    
}

.square {
    height: 40px;
    width: 40px;
    position: relative;

}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    /* background-color: rgb(135, 135, 125); */
    background-color: #c1c156;

}

.brown {
    background-color: #769656;
}

.black {
    fill: #000000;
}

.white {
    fill: #ffffff;
    
}